{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2> Welcome to Pet Food Online Giga Store</h2>

        <div class="col-md-4">

            <a href="{{ path('all_products') }}">List of products</a>

            <br>

            <a href="{{ path('add_product_form') }}">Add product</a>
        </div>
    </div>
{% endblock %}